@page
@model IndexModel
@using Microsoft.AspNetCore.Html;

@using Microsoft.AspNetCore.Authentication

<h2>Logged User</h2>

<dl>
    @foreach (var claim in User.Claims.Where(x => x.Type == "email"))
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<br/>
<br/>
<br/>

<h2>Storage connections</h2>

<h6>
    @foreach (var (service, status) in await Model.CheckAllConnections())
    {
        <div>@service : @SuccessIndicator(status)</div>
    }
</h6>

@functions {

    public static HtmlString SuccessIndicator(bool isSuccess) => isSuccess
        ? new HtmlString($"<span style=\"color: green;\">OK</span>")
        : new HtmlString($"<span style=\"color: red;\">FAIL</span>");
}

<br/>
<br/>
<br/>

<h2>Authentication Properties</h2>

<dl>
    @foreach (var prop in (await HttpContext.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>